
label{
  color:rgb(227, 219, 219)
}
.choice{
  color: rgb(227, 219, 219);
  background-color: green;
}

.result-correct{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(32, 90, 34);
  background-color: rgb(123, 244, 123);
  border-radius: 5px;
  margin: .5rem;
  box-shadow: 0px 0px 11px 0px rgb(123, 244, 123);




}

.result-incorrect{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(236, 221, 221);
  background-color: rgb(223, 15, 15);
  box-shadow: 0px 0px 11px 0px rgb(223, 15, 15);

  border-radius: 5px;
  margin: .5rem;

}
.question{
  color: rgb(26,230,250);
  background-color: rgb(13,3,31);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-style: solid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: .5rem;
  width: 290px
}
.options{
  width:100%
}
.score{
  color: rgb(132,170,227);
}
/*p{


  color: rgb(26,230,250);
  font-size: larger;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}*/
.select{
  border-style: solid;
  border-color: rgb(26,230,250);


  box-shadow: 0px 0px 11px 0px rgb(26,230,250);


  margin-bottom: 1.5rem;
}

.all{
  height: 450px;
  width: 450px;
  background-color: rgb(3, 17, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.study-m{

  
  display: flex ;
  flex-direction: column;
  align-items: center;
}
.korean-{
  box-shadow: 0px 0px 13px 0px rgb(26,230,250)

}
.english-{
  box-shadow: 0px 0px 13px 0 rgb(26,230,250)
}
.jp{
  color: rgb(26,230,250);
  display: flex;

  flex-direction: column;
  align-items: center;
}
.start-quiz{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -290px;
  background-color: #060e47;
  color: white;
  transition: right 0.3s ease;
  padding: 20px;
}

.sidebaropen {
  right: 0;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #060e47;
  color: white;
  transition: right 0.3s ease;
  padding: 20px;
  overflow: hidden scroll;
  
}

.toggle-btn {
  position: fixed;
  top: 6rem;
  right: 5rem;
  background-color: rgb(170, 135, 120);
  color: rgb(87, 208, 241);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}
.to-btn{
  color: rgb(87, 208, 241);

  background-color: rgb(170, 135, 120);
  cursor: pointer;
  border-style: solid;
}
/* @import "tailwindcss"; */

@theme {
  /* ... */
}
/* @tailwind utilities; */
/*
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 100%;
  }


  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(148, 238, 245);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}*/

@keyframes fade-in {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fade-in {
  animation: fade-in 0.2s ease-out forwards;
}
