.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(157, 234, 245);
  border-style: solid;
  border-color: rgb(157, 234, 245);
  height: 400px;
  border-radius: 12px;

  box-shadow: 0 0 5px 5px rgb(157, 234, 244);
  width: 650px;
}
.la{
  color: rgb(157, 234, 244);
  
  /*border-style: solid;*/
  border-color: rgb(157, 234, 244);
  margin-top: 1.5rem;
  margin-bottom: 5.5rem;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  
  height: 200px;

}

.definition{

  /*border-style: solid;*/
  border-color: rgb(157, 234, 244);


}
.increment, .decrement, .start{
  color: rgb(157, 234, 244);
  /*border-style: solid;*/
  border-radius: 15px;
  border-color: rgb(157, 234, 244);
  cursor: pointer;
  background-color: rgb(8, 3, 31);
  margin-top: 1.5rem;
}
.increment:hover, .decrement:hover, .start:hover{
  color: rgb(8, 3, 31);
  background-color: rgb(157, 234, 244);
}
.cardControl{
  display: flex;
  
}
.cardCount{
  color: rgb(157, 234, 244);

  margin-bottom: 1.5rem;
}
.decrement{
  align-items: flex-start;

}
.increment{
  align-items: flex-end;
  
  
  margin-right: 37rem;
}
.start{
  margin-left: 49%;
}
.sent{
  right: 110px;

  top: 70px;
  position: absolute;
  z-index: 1;
  color: rgb(157, 234, 244);
  border-style: solid;
  border-color: rgb(157, 234, 244);
  background-color: rgb(8, 3, 31);
  cursor: pointer;
}
.sent:hover{
  color: rgb(8, 3, 31);
  background-color: rgb(157, 234, 244);
}
.showList{

  right: 115px;

  
  top: 96px;
  position: absolute;
  z-index: 1;
}
.showList-btn{
  
  color: rgb(157, 234, 244);
  background-color: rgb(5, 27, 77);
  width: 100%;
  border-style: solid;
  border-color: rgb(157, 234, 244);
}

.showList-btn:hover{
  cursor: pointer;

  
}

.jp-phrases{
  color: rgb(157, 234, 244);
  border: solid;
  border-left: 2;
  border-color: rgb(157, 234, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activeRo{

  
  color: rgb(157, 234, 244);
  background-color: rgb(5, 27, 77);
  border-style: solid;
  box-shadow: 0 0 5px 5px rgb(157, 234, 245);
}
.ro{
  color: rgb(157, 234, 244);
  background-color: rgb(5, 27, 77);
  border-style: solid;
  
}


.sidebar {
  width: 250px;
  
  height: 200vh;
  position: fixed;
  top: 0;
  right: -290px;
  background-color: #060e47;
  color: white;
  transition: right 0.3s ease;
  padding: 20px;
}


.sidebaropen {
  right: 0;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #060e47;
  color: white;
  transition: right 0.3s ease;
  padding: 20px;
}


.toggle-btn {
  position: fixed;
  top: 6rem;
  right: 20px;
  background-color: rgb(170, 135, 120);
  color: rgb(87, 208, 241);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}